	.ui-row-editor ui-helper-clearfix btn btn-primary btn-primaryb{
		background-color: #337ab7;
	}
	.ui-datatable table tbody tr td .ui-row-editor .ui-icon-pencil 
	{
		background: none !important;
		text-indent: initial;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transform: translate(0, 0);
	}
	
	.ui-datatable table tbody tr td .ui-row-editor .ui-icon-pencil:before {
	   content: "\f044";
	}
	.ui-datatable table tbody tr td .ui-row-editor .ui-icon-pencil:hover {
	   font-weight: bold;
	}
	
	.ui-datatable .ui-row-editor .ui-icon-check {
	   padding: 1px 1px;
	}
	
	
	